<div class="title">
  <h1>Product List</h1>
</div>
<mat-form-field>
  <input type="text" matInput [(ngModel)]="searchdata" (keydown)="searchKeyDown($event,searchdata)" placeholder="Search">
</mat-form-field>
<mat-icon svgIcon="search" mat-button  (click)="doSearch(searchdata)" class="cpointer"></mat-icon>
<table mat-table [dataSource]=listOfProducts class="productTable mat-elevation-z8">
  <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let product; let i = index"> {{ i+1 }} </td>
  </ng-container>
      <!--id Coumn -->
  <ng-container matColumnDef="id" hidden="hidden">
      <th mat-header-cell *matHeaderCellDef hidden="hidden"> id. </th>
      <td mat-cell *matCellDef="let product" hidden="hidden"> {{product.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
  </ng-container>
  	<ng-container matColumnDef="partNumber">
  	<th mat-header-cell *matHeaderCellDef> Part Number </th>
  	<td mat-cell *matCellDef="let product"> {{product.partnumber}} </td>
	</ng-container>
	<ng-container matColumnDef="unit">
  	<th mat-header-cell *matHeaderCellDef> Unit </th>
  	<td mat-cell *matCellDef="let product"> {{product.unit}} </td>
	</ng-container>
	<ng-container matColumnDef="lastupdate">
  	<th mat-header-cell *matHeaderCellDef> Last Update </th>
  	<td mat-cell *matCellDef="let product"> {{product.lastupdate}} </td>
	</ng-container>
	<ng-container matColumnDef="action">
  	<th mat-header-cell *matHeaderCellDef> Action </th>
  	<td mat-cell *matCellDef="let product">
      <mat-select placeholder="Select an Action">
        <mat-option [value]="Detail" routerLink="/product-detail/{{ product.id }}">View Details</mat-option>
        <!-- <mat-option [value]="Edit" routerLink="/product-update/{{ product.id }}">Edit</mat-option> -->
        <mat-option [value]="Delete" (click)="openDialog( product.id )">Delete</mat-option>
  		</mat-select>
  	</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</table>
<mat-paginator  [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page) = "changePage($event)" >
</mat-paginator>